################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Breakout/obj
/Breakout/bin/Debug/net10.0-windows
/Breakout/.vs
